/* <!-- ## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px
 */

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid red;
  height: 100vh;
}

.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  width: 350px;
  max-width: 100%;
  /* margin-top: 200px; */
  padding: 27px;
}

.star-icon {
  border-radius: 100%;
  padding: 20px;
  background-color: hsla(210, 17%, 23%, 0.87);
}

.card h1 {
  color: hsl(0, 0%, 100%);
  font-family: calibri Light;
}

.card p {
  font-size: 15px;
  color: hsl(216, 12%, 54%);

  /* text-align: center; */
  /* width: 300px; */
  font-size: 17px;
  margin-bottom: 30px;

  font-family: sans-serif;
  line-height: 1.5;
}

.btn {
  border-radius: 100%;
  width: 45px;
  height: 45px;

  margin-right: 15px;
  margin-left: 6px;
  background-color: hsla(210, 17%, 23%, 0.87);
  color: hsl(217, 12%, 63%);
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-sub {
  width: 100%;
  /* margin-left: 16px; */
  margin-top: 15px;
  border-radius: 30px;
  height: 40px;
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(25, 97%, 53%);
}

.btn-sub:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
